.teacher-login-form {
  display: flex; 
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  border: solid 1px darkgray;
  margin: 40px auto;
  width: 80%;
  max-width: 300px;
  align-items: center;
}

.teacher-login-form h2 {
  font-size: 27px;
}

.teacher-login-form label{
  font-size: 20px;
}

 .teacher-login-form input{
  border-radius: 5px;
  font-family: var(--body-font);
  font-size: 15px;
  border: solid 1px darkgray;
  margin: 10px;
}

.teacher-login-form button {
  color: white;
  background: var(--purple);
  padding: 5px 15px 8px 15px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
  font-family: var(--heading-font);
}

.teacher-login-form button:hover {
  background: black;
  cursor: pointer;
}

.login-link {
  justify-content: center;
}

.login-link a{
  color: var(--blue);
  font-size: 15px;
}

.login-link a:hover {
  color: black;
  cursor: pointer;
}
