 .SessionRoute-container {
  font-family: var(--heading-font);
}

.SessionRoute-container .learning-target {
  font-size: 23px;
  margin: 5px 20px;
  margin-bottom: 20px;
}

.expired {
  background: rgb(243, 243, 243);
}

.priority-button:hover{
  color: var(--purple);
  cursor: pointer;
}

.student-list form {
  padding-bottom: 10px;
}

.student-list textarea {
  width: 90%;
  padding: 8px 12px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.SessionRoute-container h4 {
  margin: 5px 20px;
}

.radio-label{
  padding: 5px;
}


.SessionRoute-container li {
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 3px 8px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  /* position: relative; */
}

/* priority flags */
.SessionRoute-container li img {
  position:absolute;
  top: 0px;
  left:200px;
}

.high-priority {
  background: white;
  color: var(--purple);
  border-radius: 3px;
  vertical-align: middle;
}

.medium-priority {
  background: white;
  color: var(--blue);
  border-radius: 3px;
  vertical-align: middle;
}

.low-priority {
  background: white;
  color: var(--green);
  border-radius: 3px;
  vertical-align: middle;
}

.update{
  margin-top: 20px;
}

.priority-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 25%;
}

.student-goal-learning-target {
  margin-top: 50px;
}

.flag-container {
  position: relative;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  .student-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .student-list li {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px;
  }
}