 .SessionRoute-container {
  font-family: var(--heading-font);
}

.SessionRoute-container .learning-target {
  font-size: 23px;
  margin: 5px 20px;
  margin-bottom: 20px;
}

.high {
  background: var(--purple);
}

.medium {
  background: var(--blue);
}

.low {
  background: var(--green);
}

.priority-button:hover{
  color: var(--purple);
  cursor: pointer;
}

.student-list .expired button {
  background: white;
  color: black;
}

.student-list .expired button:hover {
  background: lightgray;
  cursor: pointer;
}

.student-list form {
  padding-bottom: 10px;
}

.student-list textarea {
  width: 90%;
  padding: 8px 12px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}

.SessionRoute-container h4 {
  margin: 5px 20px;
}

/* .SessionRoute-container input[type="radio"]{
  margin: 0px 5px;
  display: none;
} */

.radio-label{
  padding: 5px;
}


.SessionRoute-container li {
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 3px 8px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}

.SessionRoute-container li img {
  position:absolute;
  bottom:60px;
  left:150px;
}

.high-priority {
  background: white;
  color: var(--purple);
  border-radius: 3px;
  vertical-align: middle;
}

.medium-priority {
  background: white;
  color: var(--blue);
  border-radius: 3px;
  vertical-align: middle;
}

.low-priority {
  background: white;
  color: var(--green);
  border-radius: 3px;
  vertical-align: middle;
}

.update{
  margin-top: 20px;
}

.priority-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 25%;
}





/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  .student-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .student-list li {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 200px;
  }
}