.student-dashboard-section{
  display: flex; 
  flex-direction: column;
  text-align: center;
  padding: 15px;
  font-family: var(--heading-font);
} 

.student-dashboard-section .goals-container {
margin-bottom: 20px;
}

.student-dashboard-section .goals-container h2{
  margin-bottom: 0;
}

.student-dashboard-section .timer-container {
  border: solid 1px darkgray;
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.student-dashboard-section .purple-button{
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
}

.student-goal, .student-subgoal {
  background-image: url('../../Images/BluePaper.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.student-goal p, .student-subgoal p {
  font-weight: 800;
  max-width: 400px;
  margin: 50px auto;
}

.student-dashboard-section .student-subgoal {
  background-image: url('../../Images/SalmonGridPaper.svg');
}

.student-dashboard-section .button > *{
  pointer-events: none;
}