.student-dashboard-section{
  display: flex; 
  flex-direction: column;
  text-align: center;
  padding: 15px;
  font-family: var(--heading-font);
} 

.student-dashboard-section .goals-container {
margin-bottom: 20px;
}

.student-dashboard-section .timer-container {
  border: solid 1px darkgray;
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.student-dashboard-section .purple-button{
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
}