header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: solid 1px darkgray;
}

header h1 a{
  text-decoration: none;
  color: black;
}

header h1 a:hover {
  color: var(--purple);
}

.login-buttons{
  display: flex; 
  flex-direction: row;
}

.logout-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logout-buttons .button {
  margin: 5px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  header {
    flex-direction: row;
  }

  .login-buttons{
    flex-direction: column;
  }

  .logout-buttons{
    flex-direction: column
  }
}