header{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: solid 1px darkgray;
}

header h1{
  font-family: 'Vibes', cursive;
  font-size: 80px;
  font-weight: 800;
  margin: 0 30px;
}

header h1 a{
  text-decoration: none;
  color: black;
}

header h1 a:hover {
  color: #8B00B5;
}

.login-buttons{
  display: flex; 
  flex-direction: row;
}

.login-buttons a{
  text-decoration: none;
  
  color: white;
  padding: 5px 15px 8px 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
}

.login-buttons .teacher {
  background: #8B00B5;
}

.login-buttons .student {
  background: #0ABAD4;
}

.login-buttons .sign-up {
  background: #81D40A;
}

.login-buttons a:hover{
  background: black;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }

  .login-buttons{
    flex-direction: column;
  }
}