.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.flower-stem {
  position: relative;
  width: 15px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(115, 175, 66);
  animation: color-wobble;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;  
}

@keyframes color-wobble {
  from { 
    bottom: 500px;
    background-color: rgb(136, 214, 71)
   }
  to { 
    bottom: 0;
    background-color:  rgb(115, 175, 66)
  }
}




.petal-right {
  position: relative;
  top: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(72, 139, 32);
  border-radius: 50px 0;
  animation: petal-fade-in;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.petal-two-right {
  position: relative;
  bottom: 30px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: rgb(72, 139, 32);
  border-radius: 50px 0;
  animation: petal-fade-in;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.petal-left {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(72, 139, 32);
  border-radius: 0 50px;
  animation: petal-fade-in;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.petal-two-left {
  position: relative;
  left: 50px;
  bottom: 70px;
  width: 50px;
  height: 50px;
  background-color: rgb(72, 139, 32);
  border-radius: 0 50px;
  animation: petal-fade-in;
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.flower-top {
  position: relative;
  right: 147px;
  bottom: 138px;
  width: 80px;
  height: 80px;
  background-image: radial-gradient(rgb(252, 230, 33), rgb(255, 174, 0));
  border-radius: 50%;
  animation: petal-fade-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}




@keyframes petal-fade-in {
  from { opacity: 0 }
  to { opacity: 100% }
}





