.data-display-container {
  margin-bottom: 200px;
}
.data-table-container {
  max-width: 1100px;
  display: flex;  
  justify-content: center;
  margin: 3% 10px;
}

.contain-student-res {
  width: 850px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-start;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.student-answer-response {
  border-bottom: 1px solid lightGrey;
  padding: 1%;
  text-align: left;
  width: 98%;
}

.exit-ticket-data-container {
  display: flex; 
  justify-content: center;
  margin: 1% 10px;
}

.exit-ticket-response-container {  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
}

.exit-ticket-responses {
  display: flex;
  justify-content: center;

}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: var(--darkgray); 
  color: white; 
  font-weight: bold; 
  border-radius: 8px;
}
td, th { 
  padding: 9px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.a-column, .b-column, .c-column, .d-column {
  margin: 0 1%;
}

.correct-option {
  color: green;
}

.incorrect-option {
  color: red;
}
.goal-data > tbody > tr > td   {
  padding: .3% 1%;
}


.data-table {
  border-collapse: separate;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 8px;
  padding: 1%;

}

.goal-data{
  margin-bottom: 1%;
}

.data-button {
  margin-bottom: 3%;
}

.data-table > tbody > tr > td   {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: .3% 1%;
}

.data-link {
  color: black;
  text-decoration: none;
}

.data-link:visited {
  color: black;
}

.data-link-datum-green:hover{
  background-color: var(--green);
}

.data-link-datum-blue:hover{
  background-color: var(--blue);
}

.data-link-datum-purple:hover{
  background-color: var(--purple);
}

.datum a:hover{
  color: white;
}


.data-table > thead > tr > th   {
  border-right: 1px solid lightgray;
}

.data-table > thead > tr > th:last-child  {
  border-right: none;
}

@media only screen and (max-width: 850px) {
  
    .contain-student-res {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: flex-start;
    } 
    .main-table table thead, 
    .main-table tbody, 
    .main-table th, 
    .main-table td, 
    .main-table tr {
      display: block;
    }
    .main-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
     
    }
    .main-table tr { 
      border: 1px solid #ccc; 
      
    }
    .main-table td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 200px;
      margin-left: 200px;
    }
    .main-table td:before {
      position: absolute;
      left: 6px;
      width: 200px;
      padding-right: 40px;
      white-space: nowrap;
      margin-left: -200px;
    }
    /*
    Label the data
    */
    .main-table td:nth-of-type(1):before { content: "Title"; }
    .main-table td:nth-of-type(2):before { content: "Total Completed"; }
    .main-table td:nth-of-type(3):before { content: "Total Students"; }
    .main-table td:nth-of-type(4):before { content: "Completion Rate"; }
    .main-table td:nth-of-type(5):before { content: "Completion Time"; }
    .main-table td:nth-of-type(6):before { content: "Confidence Rate"; }
    .main-table td:nth-of-type(7):before { content: "Confidence Avg Score"; }
  
}

@media only screen and (min-width: 1100px) {
  .data-table-container {
    max-width: 1100px;
    display: flex;  
    justify-content: center;
    margin: 20px auto;
  }
}
