
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 9px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {

/* Force table to not be like tables anymore */
table, thead, tbody, th, td, tr {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  margin: 0 0 1rem 0;
}
  
tr:nth-child(odd) {
  background: #ccc;
}

td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
 
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 0;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  font-weight: bold;
  
}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Title"; }
	td:nth-of-type(2):before { content: "Total Completed"; }
	td:nth-of-type(3):before { content: "Total Students"; }
	td:nth-of-type(4):before { content: "Completion Rate"; }
	td:nth-of-type(5):before { content: "Completion Time"; }
	td:nth-of-type(6):before { content: "Confidence Rate"; }
	td:nth-of-type(7):before { content: "Confidence Avg Score"; }
}
