.data-table-container {
  width: 100%;
  display: flex;  
  justify-content: center;
  margin-top: 5%;
}

.data-table{
  border-collapse: separate;
  border: 1px solid lightgray;
  text-align: center;
  border-radius: 15px;
  padding: 1%;
  box-shadow: 3px 3px 10px 3px rgb(168, 164, 164);

}

.data-table > tbody > tr > td   {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: .3% 1%;
}

.data-table > thead > tr > th   {
  border-right: 1px solid lightgray;
}

.data-table > thead > tr > th:last-child  {
  border-right: none;
}

