
.add-student-form {
  display: flex; 
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  margin: 20px auto;
  width: 80%;
  max-width: 300px;
  align-items: center;
}

.StudentList {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 15px;
  margin: 0px 20px;
  max-width: 400px;
}

.StudentList ul {
  margin: 5px;
}
.student-name {
  text-align: left;
  width: 100%;

}

.student-username {
  border-left: 1px solid darkgray;
  text-align: left;
  width: 100%;
}

.student-username li {
  border-bottom: 1px solid darkgray;
  padding-bottom: 2%;
}

.student-username ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student-name li {
  border-bottom: 1px solid darkgray;
  padding-bottom: 2%;
}

.StudentList h3 {
  font-size: 18px;
  margin: 10px 5px;
  text-align: left;
  height: 30px;
}

.StudentList .delete-student {
  color: rgb(241, 46, 79);
  border-radius: 3px;
  margin-left: 10px;
}

.StudentList .delete-student:hover {
  color: var(--purple);
  box-shadow: 2px 2px 2px rgb(202, 202, 202);
}



@media only screen and (min-width: 400px) {
  
  .StudentList {
    margin: 0px auto;

  }
}