 .TeacherDashboardRoute-section {
   font-family: var(--heading-font);
   padding-bottom: 250px;
 }

 .TeacherDashboardRoute-learning-target-submit {
  border-bottom: solid 1px darkgray;
  padding-bottom: 20px;
 }

 .TeacherDashboardRoute-section .data {
   background: var(--gray);
   padding-top: 30px;
   padding-bottom: 30px;
 }


 