 .TeacherDashboardRoute-section {
   margin-top: 40px;
   font-family: var(--heading-font);
 }

 .TeacherDashboardRoute-learning-target-submit {
  border-bottom: solid 1px darkgray;
 }

 .TeacherDashboardRoute-section .data {
   background: lightgray;
 }
 